<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/estilo.css')}}">
    <title>Document</title>
</head>
<header>
    <h1>LOJAS</h1>
    
  </header>
<body>
    <nav>
        <ul>
                
                
            </li>
            
            </li>
        
            <li>
                <div>
                <a href="/usuario/add">adicionar</a>
            </div>
                
            </li>
        </ul>
        <img src="{{url_for('static', filename='img/1356559.png')}}">
    </nav>

    <main>
        {% block conteudo %}
        {% endblock %}

    </main>
</body>
</html>