{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %} 
    {% if mensagens %}
 
        {% for msg in mensagens %}
            {{ msg }}
        {% endfor %}
   
     {% endif %}

    <form action="/usuario/editasave" method="post">
        <input type="hidden" name="id" value="{{dados.id}}">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" value="{{dados.nome}}">
        <label for="text">endereco</label>
        <input type="endereco" name="endereco" id="endereco" value="{{dados.endereco}}">
        <label for="text">telefone</label>
        <input type="text" name="telefone" id="telefone" value="{{dados.telefone}}">
        <button type="submit">Salvar</button>


    </form>



{% endblock %}
