{% extends "base.html" %}

{% block conteudo %}
{% set mensagens = get_flashed_messages() %} 
{% if mensagens %}

    {% for msg in mensagens %}
        {{ msg }}
    {% endfor %}

 {% endif %}

    <a href="/usuario/add">+ Adicionar</a>
    <table>
        <tr>
            <th>Nome</th>
            <th>Endereco</th>
            <th>Telefone</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for usuario in dados %}
            <tr>
                <td>{{lojas.nome}}</td>
                <td>{{lojas.endereco}}</td>
                <td>{{lojas.telefone}}</td>
                <td>
                    <a href="/usuario/edita/{{usuario.id_loja}}">Editar</a>
                </td>
                <td>
                    <a href="/usuario/remove/{{usuario.id_loja}}">remover</a>

                </td>
            </tr>


        {% endfor %}
    </table>



{% endblock %}
